* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

@font-face {
    font-family: 'InstaFont';
    src: url(../../Fonts/Fontspring-DEMO-blue_vinyl_bold_ps_ot.otf)
}

nav {
    background-color: rgb(255, 255, 255);
    padding: 2vw 0vw 2vw 0vw;
    display: flex;
    justify-content: space-evenly;
    outline: 1px solid rgb(214, 214, 214);

    h1 {
        font-family: 'InstaFont';
        font-size: 7.5vw;
    }

    ol {
        display: flex;
        justify-content: space-evenly;



        li {
            width: 10vw;
            height: 10vw;
            line-height: 10vw;
            font-size: 6vw;
            text-align: center;
            align-items: center;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: aqua;
        }
    }
}